.product{
    display: flex;
    background: url('https://cdn.pixabay.com/photo/2021/12/07/23/09/cup-6854258_1280.jpg');
    width: 100vw;
    height: 80vh;
}

.hr{
    display: flex;
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 80px;
}
.corr{
   width: 150px;
  margin-right: 100px;
   padding-right: 100px;
}

.cen{
    display: flex;
    padding-left: 60px;

  
}
.head{
    color: aliceblue;
  padding-right: 30px;
}
.list{
    padding: 100px;
   
}
.li{
    padding-left: 250px;
}
.pro{
    font-size: 60px;
    letter-spacing: 8px;
    padding-right: 280px;
    font-style: oblique;
    
}
.ff{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.gg img{
    width: 220px;
}
.gg{
    padding-right: 20px;
}
.bean{
    padding-left: 30px;
}
.tags{
    color:rgb(241, 176, 96);
    font-size: 20px;
    padding-left: 20px;
    
}
.top{
    display: flex;
}

.rate img{
      width: 5px;
      height: 4px;
}
.cat{
    padding-left: 10px;
}
.acc{
    color:rgb(241, 176, 96) ;
    letter-spacing: 1px;
}
.ee{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.duck{
    display:inline;
}
.hand{
    padding-left: 40px;
    width: 900px;
}
.footer{
    background-image: url('https://c.wallhere.com/photos/30/5d/coffee_coffee_cup_hot_drink_minimalism-1501137.jpg!d');
    text-align: center;
    width: 100vw;
}
.footer_para{
    color: white;
    width: 30rem;
    margin-left: 18rem;
}
.footer_para1{
    text-align: center;
    color: white;
    font-weight: 100;
}
.footer_para2{
    text-align: center;
    color: white;
    width: 30rem;
    margin-left: 18rem;
    font-weight: 100;
}
.footer_para3{
    text-align: center;
    color: white;
    width: 30rem;
    margin-left: 17rem;
    font-size: 1.5rem;
    font-weight: 100;
}
.footer_para4{
    width: 25rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
}