.navbar{
    display:flex;
    justify-content: space-evenly;
    background-color: wheat;
    width: 100vw;
    padding:1px;
   
   
}

.nav{
    text-align: end;
    margin-right:0;
    padding-right:0;
  

}

.unorder{
    
    text-decoration: none;
    display: flex;
   
    cursor:pointer; 
    list-style: none;
}
  
.unorder li{
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color:white;  
   
}

.list{
    font-size:18px;
    padding-right: 20px;
  color:black;
  letter-spacing: 1px;
  text-decoration: none;
 
}

Link{
    text-decoration: none;
    color:black;
  }